#text-fly{
  width:400px;
  height:10px;
  border-radius:50%;
  margin-top:100px;
}
.bounce{
animation:bounce 5s linear 100;
}
@keyframes bounce{
  0%{
    transform:translate(0px,0px);

    }
  25%{
     transform:translate(100px,100px);

    }
  50%{
     transform:translate(300px,0px);
    }
   75%{
     transform:translate(100px,-100px);


     }
 100%{
    transform:translate(0px,0px);

    }
 }
